include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/harvestportal *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/harvestportal/migration *.ini *.py *.mako
recursive-include ckanext/harvestportal/public *.*
