{% ckan_extends %} {# Adds a link from the login form to the single sign-on
provider. #} {% block form %} {% block sso_form %}
<h4>{% trans %}Note for existing users:{% endtrans %}</h4>
<p>
  {% trans %} If you have not already, please follow this link to the new
  Sign-On page. <br />
  Create an account using an email address or via a social sign-on method like
  Google or Apple. <br />
  Be sure to use the same email address as your existing account so that all
  your information is synced. <br />
  <br />
  For assistance, please contact keniston@umd.edu.{% endtrans %}
</p>
<p>
  <a href="{{ h.url_for('user.login') }}/oidc-pkce" class="btn btn-primary"
    ><i class="fa fa-sign-in"></i> Log in via single sign-on</a
  >
</p>
{% endblock %} {% endblock %} {% block secondary_content %} {% endblock %}
